// COLORS
$background: darkgrey;
$background2: grey;
$content: orange;
$white: white;
$black: black;
$green: rgb(102, 233, 102);
$red: rgb(223, 122, 122);
$blue: rgb(103, 225, 255);
// FONTS
$font-std: 1rem;
$font-md: 1.25rem;
$font-lg: 1.5rem;
$font-vlg: 2rem;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    background-color: $background2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: $content;
}

.navbar {
    display: flex;
    padding: 0.5em 2em;
    justify-content: space-between;
    font-size: $font-md;
    font-weight: 500;

    &-item {
        border-bottom: solid $background2;
        border-radius: 2px;

        transition: all 0.2s ease-in-out;
        &:hover {
            color: $white;
            border-color: $background;
        }
    }
}

.main {
    padding: 2em 1em;

    .menu {
        text-align: center;

        &-item {
            margin: 0.5em 0;
            padding: 0.5em 0.5em;
            border: 2px solid $background;
            border-radius: 10px;
            color: $content;               
            cursor: pointer;

            transition: all 0.2s ease-in-out;
            &:hover {
                color: $white;
                background-color: $background;
            }
        }
    }
    
    .todolist {
        justify-content: center;
        align-items: center;

        &__header {

            &-title {
                margin: 0.5em 0;
                padding: 0.5em 0.5em;
                text-align: center;
                background-color: $background; 
                border: 2px solid $background;
                border-radius: 10px;  
                font-weight: 500;
                color: $white;

                transition: all 0.2s ease-in-out;
                &.success {
                    background-color: $background2;
                    border: 2px solid $green;
                    border-radius: 10px;
                    color: $green;
                }
                &.failure {
                    background-color: $background2;
                    border: 2px solid $red;
                    border-radius: 10px;
                    color: $red;
                }
                &.alert {
                    background-color: $background2;
                    border: 2px solid $blue;
                    border-radius: 10px;
                    color: $blue;
                }
            }

            &-input {
                display: flex;
                margin: 0.5em 0;
                justify-content: left;
                align-items: center;                
                border: 2px solid $background;
                border-radius: 10px;
                color: $content; 

                form {
                    width: 100%;
                }

                .todo-input {
                    width: 95%;
                    background-color: $background2;
                    border: none;
                    color: $white;

                    transition: all 0.1s ease-in-out;
                    &:focus {
                        outline: none;
                        color: $content;
                    }
                }
            }

            &-remaining {
                text-align: center;
                color: $background;
            }
        }

        &__container {
            padding-left: 0;

            &-item {
                display: grid;
                grid-template-columns: 1fr 2em 0.1em;
                margin: 0.5em 0;
                padding: 0.5em 1em;
                justify-content: left;
                align-items: center;
                border: 2px solid $background;
                border-radius: 10px;
                color: $content;
                cursor: pointer;

                .item-close {
                    padding: 0.5em 0.75em;
                    border-radius: 10px;
                    color: $background;

                    transition: all 0.1s ease-in-out;
                    &:hover {
                        background-color: $black;
                        opacity: 0.25;
                        border-radius: 20px;
                    }
                }

                transition: all 0.2s ease-in-out;
                &.completed {
                    border: 2px solid $content;
                    border-radius: 10px;
                    opacity: 0.5;

                    .item-text {
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0.5em;
                            bottom: 40%;
                            height: 2px;
                            background-color: $content;
                        }
                    }
                }

                &:hover {
                    background-color: $background;
                    color: $white;

                    .item-close {
                        color: $background2;

                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}

.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, transparent, $background2);

    &-item {
        margin-bottom: 0.5rem;
        color: $white;
    }
}

@media screen and (max-width: 450px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
    
        .menu {
            display: grid; 
            grid-template-columns: 1fr 1fr;
                            
            &-item {
                display: grid;
                width: auto;
                align-items: center;
                font-size: $font-md;

                &:first-child {
                    grid-column: span 2;
                    font-size: $font-vlg;
                }

                &:nth-child(2) {
                    margin-right: 0.25em;
                }

                &:nth-child(3) {
                    margin-left: 0.25em;
                }
            }
        }
        
        .todolist {
    
            &__header {
                width: 100%;
    
                &-title {
                    font-size: $font-vlg;    
                }
    
                &-input {
                    height: 3em;      
                    padding-left: 0.5em;
                    font-size: $font-lg;  

                    .todo-input {
                        font-size: $font-lg;
                    }
                }
                &-remaining {
                    font-size: $font-md;
                }
            }
    
            &__container-item {
                font-size: $font-lg;
            }
        }
    }
}

@media screen and (min-width: 451px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 2fr;
    
        .menu {
            display: flex;
            flex-direction: column;
            margin-top: 5em;
            align-items: center;
    
            &-item {
                width: 100px;
            }
        }
        
        .todolist {
    
            &__header {
                width: 80%;

                &-title {
                    font-size: $font-md;    
                }
    
                &-input {
                    height: 2em;
                    padding-left: 1em;
                    font-size: $font-md;

                    .todo-input {
                        font-size: $font-std;
                    }
                }
            }
    
            &__container {
                width: 80%;
            }
        }
    }
}
